<header>
  <nav class="main-nav">
    <div class="main-nav__row">
      <a href="/" class="nav-link home">
        <h1> 
          HooverReviewer
        </h1> 
      </a>
    </div>
    <div class="main-nav__row second-row">
      <app-search-input (search)="onSearch($event)"></app-search-input>
      <app-city-select [cities]="cities" (selected)="onCitySelected($event)"></app-city-select>
    </div> 
    
  </nav>
</header>

<div class="content-container">
  <router-outlet></router-outlet>
</div>


