header {
  .main-nav {
    width: auto;
    margin-left: 80px;
    margin-right: 80px;
  }
  
  .nav-link.home {
    text-decoration: none;
  
    &:visited {
      color: black;
    }
  }
  
  .second-row {
    display: flex;
    justify-content: space-between;
  }
}

.content-container {
  width: auto;
  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
}
